@import '../../../styles/main.sass'

.box
    position: sticky
    top: 0
    left: 0
    right: 0
    background: #fff
    z-index: 1000
    font-family: $font-roboto

    .container
        max-width: $page-width
        margin-left: auto
        margin-right: auto
        width: 100%
        padding-left: $page-margin
        padding-right: $page-margin
        padding-top: 1rem
        padding-bottom: 1rem

        display: flex
        align-items: center
        justify-content: space-between

        h1
            color: #637de8

        ul
            display: flex
            align-items: center
            justify-content: center
            list-style: none
            gap: 2rem
            font-size: 16px

            li
                cursor: pointer
                padding: .5rem
                color: $color-body-text

                &:hover
                    color: black
