@import "../../../styles/main"

.box
    border-radius: 10px
    box-shadow: 2px 2px 4px #ccc
    padding: 1.5rem

    display: flex
    align-items: start
    flex-direction: column
    transition: all 0.2s ease 0s

    &:hover
        transform: scale(1.1)

    .cardHeader
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%

        .name
            font-size: 20px
            font-weight: 600
            font-family: $font-roboto

        .area
            font-size: 14px
            background-color: #ffdbf5
            border: 1px solid #f30eb3
            color: #f30eb3
            padding: 6px 12px
            border-radius: 4px

    .button
        position: relative
        display: flex
        align-items: center
        justify-content: center
        gap: 1rem
        padding: 12px 12px 12px 0rem
        border-radius: 6px

        font-weight: 500
        font-size: 14px
        color: $color-body-text
        border: none

        margin-top: 1rem

        transition: all 0.2s ease 0s
        cursor: pointer
